<p id="notice"><%= notice %></p>

<%= raw Cartographer::Header.new.to_s %>
  <%= raw @map.to_html %>
  <div style="width:600px;height:400px;" id="map" > [Map] </div>
<br />

<p>
	<div class="exemple">
		<b>Ocena miejsca:</b>
		<div class="exemple5" data="10_5"></div>
	</div>
</p>

<p>
  <b>Nazwa:</b>
  <%= @marker.name %>
</p>

<p>
  <b>X:</b>
  <%= @marker.posX %>
</p>

<p>
  <b>Y:</b>
  <%= @marker.posY %>
</p>

<p>
  <b>Url:</b>
  <%= @marker.url %>
</p>

<%= link_to 'Edytuj', edit_marker_path(@marker) %> |
<%= link_to 'Z powrotem', markers_path %>
